.howItWorks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $width--mobile;
    height: auto;

    &__heading {
        padding-top: $padding--basic + 5;
        margin: $margin--basic 0 $margin--basic $margin--neg;
    }

    &__cell {
        width: $cell--width;
        padding: $padding--cell;
        background-color: darken($color: $alt--color, $amount: 6%);
        border-radius: $radius--squared;
        margin-bottom: $cellMargin--bottom;
        @include cellOutter--shadow;

        &--title {
            margin-top: 5px;
            margin-left: $cellTitle--left - 15; 
            > i {
                color: darken($color: $alt--color, $amount: 50%);
                font-size: $icon--size;
                &.fa-store {
                    color: $primary--color;
                }
            }

            > p {
                font-weight: $font--extra-Bold;
                margin-left: $cellTitle--left;
                margin-top: $cellTitle--top;
            }
        }

        &--number {
            width: $cellNumber--width;
            height: $cellNumber--height;
            background-color: $primary--color;
            border-radius: $radius--cellNumber;
            display: flex;
            justify-content: center;
            color: $alt--color;
            padding: $padding--xsmall;
            margin-top: $cellNumber--top;
            margin-left: $cellNumber--left;

            > p {
                font-size: $font--xxsmall;
            }
        }
    }
}