/* WEBSITE LOADING */
@keyframes siteVis {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ANIMATIONS */
@keyframes apparition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* RESTAURANTS */
.restaurants:first-child {
    /*animation: apparition 1s ease 1;*/
    animation: apparition 1s ease-in 1 normal forwards;
}
.restaurants:nth-child(3) {
    /*animation: apparition 1s ease 1;*/
    animation: apparition 1s ease-in 1 normal forwards;
}
.restaurants:nth-child(4) {
    /*animation: apparition 1s ease 1;*/
    animation: apparition 1s ease-in 1 normal forwards;
}
.restaurants:last-child {
    /*animation: apparition 1s ease 1;*/
    animation: apparition 1s ease-in 1 normal forwards;
}
/* HOVER TRANSITIONS */

/* EXPLORE CALL TO ACTION */
.header__explore--btn {
    opacity: 1;
    transition: .6s;
}
.header__explore--btn:hover {
    opacity: .8;
}
/* ORDER CALL TO ACTION */
.menus__order--btn {
    opacity: 1;
    transition: .6s;
}
.menus__order--btn:hover {
    opacity: .8;
}

/* HOW IT WORKS*/
.howItWorks__cell {
    cursor: pointer;
    transition: .3s;
}
.howItWorks__cell:hover {
    opacity: .6;
}

/* RESTAURANTS CARDS */
.restaurants__cell {
    opacity: 1;
    transition: .6s;
}
.restaurants__cell:hover {
    opacity: .8;
}
/* CHCECKED MENUS CELL ANIMATION*/ 
// CHECKED ANIMATION
@keyframes checkedAnim {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes checkedApparition {
    0% {
        opacity: 0;
        width: 0;
        // transform: translateX(70px);
    }
    100% {
        opacity: 1;
        width: 70px;
        // transform: translateX(0);
    }
}
@keyframes checkedDisparition {
    0% {
        opacity: 1;
        width: 70px;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}
