* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vh;
  height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

h2 {
  font-weight: 300;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 375px;
  height: auto;
}

.header__logo--text {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
}

.header__logo--pic {
  width: 150px;
  margin-top: 9px;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  width: 375px;
}

.header__location > input {
  background-color: #ebebeb;
  border: 0;
  -webkit-box-shadow: inset 0 3px 3px #cccccc;
          box-shadow: inset 0 3px 3px #cccccc;
  width: 100%;
  height: 50px;
  padding-left: 130px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
}

.header__location > i {
  position: absolute;
  left: 100px;
  top: 60px;
  font-size: 1rem;
  z-index: 999;
}

.header__explore {
  width: 100%;
  height: 287px;
  padding-top: 20px;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__explore--heading {
  margin-top: 20px;
}

.header__explore--cta {
  margin-top: 20px;
}

.header__explore--btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.07rem;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 3, 185, 0.5)), to(#9356dc));
  background: linear-gradient(180deg, rgba(255, 3, 185, 0.5) 0%, #9356dc 100%);
  -webkit-box-shadow: -2px 5px 10px #bfbfbf;
          box-shadow: -2px 5px 10px #bfbfbf;
  padding: 17px;
  border: 0;
  border-radius: 28px;
  cursor: pointer;
}

.howItWorks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 375px;
  height: auto;
}

.howItWorks__heading {
  padding-top: 25px;
  margin: 20px 0 20px -200px;
}

.howItWorks__cell {
  width: 325px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 15px;
  margin-bottom: 25px;
  -webkit-box-shadow: -2px 5px 10px #d9d9d9;
          box-shadow: -2px 5px 10px #d9d9d9;
}

.howItWorks__cell--title {
  margin-top: 5px;
  margin-left: 20px;
}

.howItWorks__cell--title > i {
  color: gray;
  font-size: 1.2rem;
}

.howItWorks__cell--title > i.fa-store {
  color: #9356DC;
}

.howItWorks__cell--title > p {
  font-weight: 700;
  margin-left: 35px;
  margin-top: -20px;
}

.howItWorks__cell--number {
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  padding: 5px;
  margin-top: -22px;
  margin-left: -30px;
}

.howItWorks__cell--number > p {
  font-size: 0.85rem;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  width: 375px;
  height: auto;
  background-color: #f7f7f7;
}

.restaurants__heading {
  padding-top: 25px;
  margin: 20px 0 20px -218px;
}

.restaurants__cell {
  border-radius: 20px 20px 0 0;
  border-radius: 0 0 20px 20px;
  margin-bottom: 25px;
}

.restaurants__cell img {
  width: 325px;
  height: 180px;
  background-size: 100% 100%;
  border-radius: 20px 20px 0 0;
  -o-object-position: left center;
     object-position: left center;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__cell--title {
  margin-top: -3px;
  padding-top: 13px;
  padding-left: 10px;
  padding-bottom: -15px;
  background-color: #FFFFFF;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0 5px 10px #e6e6e6;
          box-shadow: 0 5px 10px #e6e6e6;
}

.restaurants__cell--title > p {
  font-weight: 700;
  margin-bottom: 5px;
}

.restaurants__cell--title > h2 {
  margin-bottom: 5px;
}

.restaurants__cell--heart i {
  position: relative;
  top: -30px;
  left: 275px;
  font-size: 1.3rem;
}

.restaurants__cell.new {
  position: relative;
}

.restaurants__cell.new::before {
  content: "Nouveau";
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 93px;
  height: 30px;
  border-radius: 4px;
  background-color: #99E2D0;
  -webkit-box-shadow: -90deg 5px 10px gray;
          box-shadow: -90deg 5px 10px gray;
  margin-top: 1rem;
  margin-left: 13.5rem;
  font-size: 0.95rem;
  font-weight: 500;
  color: #1b6150;
  position: absolute;
}

.restaurants__cell.last {
  margin-bottom: 70px;
}

.footer {
  width: 375px;
  background-color: #333333;
  color: #FFFFFF;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.footer__heading {
  font-family: "Shrikhand";
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__links > a {
  color: #FFFFFF;
}

.footer__link {
  font-family: "Roboto";
  margin-bottom: 5px;
}

.footer__link--space {
  margin-left: 10px;
}

.footer__link--space.first {
  margin-left: 16px;
}
/*# sourceMappingURL=main.css.map */