* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

h2 {
  font-weight: 300;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: auto;
}
.header__back--btn {
  top: 15px;
  left: 30px;
  position: absolute;
}
.header__logo--pic {
  width: 150px;
  margin-top: 9px;
  margin-bottom: 6px;
}

/* ANIMATIONS */
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* RESTAURANTS */
.restaurants:first-child {
  /*animation: apparition 1s ease 1;*/
  animation: apparition 1s ease-in 1 normal forwards;
}

.restaurants:nth-child(3) {
  /*animation: apparition 1s ease 1;*/
  animation: apparition 1s ease-in 1 normal forwards;
}

.restaurants:nth-child(4) {
  /*animation: apparition 1s ease 1;*/
  animation: apparition 1s ease-in 1 normal forwards;
}

.restaurants:last-child {
  /*animation: apparition 1s ease 1;*/
  animation: apparition 1s ease-in 1 normal forwards;
}

/* HOVER TRANSITIONS */
/* EXPLORE CALL TO ACTION */
.header__explore--btn {
  transform: scale(100%);
  transition: 0.2s;
}

.header__explore--btn:hover {
  opacity: 0.8;
  transform: scale(98%);
}

/*.menus__order--btn {
    transform: scale(100%);
    transition: .2s;
}
.menus__order--btn:hover {
    opacity: .8;
    transform: scale(98%);
}*/
/* HOW IT WORKS*/
.howItWorks__cell {
  cursor: pointer;
  transition: 0.3s;
}

.howItWorks__cell:hover {
  opacity: 0.6;
}

/* RESTAURANTS CARDS */
.restaurants__cell {
  transform: scale(100%);
  transition: 0.2s;
}

.restaurants__cell:hover {
  opacity: 0.8;
  transform: scale(98%);
}

.menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: auto;
  background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.menus__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: auto;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: 205px;
  background-color: #f7f7f7;
}
.menus__heading {
  position: relative;
  padding-top: 10px;
  margin: 20px 0 20px -140px;
}
.menus__heading--title {
  font-family: "Shrikhand";
  font-size: 1.5rem;
}
.menus__heading--title.adj {
  margin-left: 50px;
}
.menus__heading--heart {
  font-size: 1.5rem;
  font-weight: 300;
  position: absolute;
  top: 15px;
  right: -85px;
}
.menus__cells {
  margin-bottom: 20px;
}
.menus__cells--heading {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  padding-bottom: 7px;
  margin-bottom: 10px;
}
.menus__cells--heading::after {
  content: "";
  display: block;
  margin-top: 7px;
  width: 13%;
  border-bottom: 3px solid #99E2D0;
}
.menus__cell {
  position: relative;
  width: 325px;
  padding: 15px;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 25px;
  box-shadow: -2px 5px 10px #d9d9d9;
}
.menus__cell--title {
  margin-left: 20px;
}
.menus__cell--title > i {
  color: gray;
  font-size: 1.2rem;
}
.menus__cell--title > i.fa-store {
  color: #9356DC;
}
.menus__cell--title > p {
  font-weight: 700;
  margin-left: -20px;
  margin-top: 0px;
}
.menus__cell--title > h4 {
  font-size: 0.85rem;
  font-weight: 300;
  margin-left: -20px;
  margin-top: 5px;
}
.menus__cell--price {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.menus__order--btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.07rem;
  color: #FFFFFF;
  background: linear-gradient(180deg, rgba(255, 3, 185, 0.5) 0%, #9356dc 100%);
  box-shadow: -2px 5px 10px #bfbfbf;
  padding: 17px;
  border: 0;
  border-radius: 28px;
  cursor: pointer;
  padding: 15px 50px;
  margin-bottom: 70px;
  /*box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 25%);
  transition: 2s ease-in;

  &:hover {
      box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 50%);
      opacity: .8;
  }*/
}

.footer {
  width: 375px;
  background-color: #333333;
  color: #FFFFFF;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}
.footer__heading {
  font-family: "Shrikhand";
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.footer__links {
  display: flex;
  flex-direction: column;
}
.footer__links > a {
  color: #FFFFFF;
}
.footer__link {
  font-family: "Roboto";
  margin-bottom: 5px;
  width: fit-content;
}
.footer__link--space {
  margin-left: 10px;
}
.footer__link--space.first {
  margin-left: 16px;
}

/*# sourceMappingURL=palette.css.map */
