//  COLORS 
$alt--color: #FFFFFF;
$alt--color-dark: rgb(0, 0, 0);

$primary--color: #9356DC;
$secondary--color: #FF79DA;
$tertiary--color: #99E2D0;

//  Z INDEXS
$z-index--top: 999;
$z-index--bottom: 997;

//  GRADIENTS
@mixin main-gradient{
    background: linear-gradient(180deg, rgba(255,3,185,0.5) 0%, rgba(147,86,220,1) 100%);
}

//  INNER SHADOWS
@mixin inner--shadow {
    box-shadow: inset 0 3px 3px darken($color: $alt--color, $amount: 20%);
}

//  OUTTER SHADOWS
@mixin outter--shadow {
    box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 25%);
}

//  CELL OUTTER SHADOWS
@mixin cellOutter--shadow {
    box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 15%);
}

// WIDTH SIZES
$width--mobile: 375px;
$width--tablet: 768px;
// $width--desktop: 1024px;
$width--desktop: 100vw;

// FONT-FAMILIES
$logo_title-font: 'Shrikhand';
$body--font: 'Roboto';

//  FONT WEIGHTS
$font--basic: 300;
$font--bold: 500;
$font--extra-Bold: 700;

//  FONT SIZES
$font--xxsmall: 0.85rem;
$font--xsmall: 0.95rem;
$font--small: 1rem;
$font--medium: 1.5rem;

//  LETTERS SPACING
$letter--spacing: .07rem;

//  MARGINS
$margin--basic: 20px;
$margin--neg: -200px;


//  PADDINGS
$padding--xxsmall: 0;
$padding--xsmall: 5px;
$padding--small: 10px;
$padding--mid: 17px;
$padding--basic: 20px;

$padding--cell: 20px;

//  RADIUS
$radius--rounded: 28px;
$radius--squared: 15px;
$radius--cellNumber: 50px;

//  CELL MARGIN BOTTOM
$cellMargin--bottom: 25px;

//  CELL ICONS POSITIONS
$cellTitle--top: -20px;
$cellTitle--left: 35px;

//  CELL ICON SIZE
$icon--size: 1.2rem;

//  CELL WIDTH
$cell--width: 325px;
$cellNumber--width: 25px;
$cellNumber--height: 25px;

//  CELL NUMBER POSITION
$cellNumber--top: -22px;
$cellNumber--left: -30px;

//  RESTAURANTS MARGINS
$res--margin-top: 40px;
$res--title-margin-top: -3px;
$res--title-margin-bot: 5px;
$res--lastCell-margin-bot: 70px;

// RESTAURANTS TITLE PROPERTIES
$res--title-height: 72px;

//  RESTAURANTS IMAGE SIZES
$res--img-width: 325px;
$res--img-height: 180px;
$menu--img-width: 375px;

//  RESTAURANTS VIGNETTE NEW
$vignette--new-radius: 4px;
$vignette--new-bgc: $tertiary--color;
$vignette--width: 93px;
$vignette--height: 30px;
$vignette--margin-top: 1rem;
$vignette--margin-left: 13.5rem;


//  RESTAURANTS HEART PROPERTIES
@mixin heart--position-svg {
    position: absolute;
    top: 196px;
    right: 25px;
    width: 25px;
    height: fit-content;
}
@mixin heartFilled--position-svg {
    position: absolute;
    top: 195px;
    right: 24px;
    width: 27px;
    height: fit-content;
}

//  RESTAURANTS IMAGE NEW VIGNETTE POSITION
@mixin vignette--position {
    margin-top: $vignette--margin-top;
    margin-left: $vignette--margin-left;
} 
    
//  RESTAURANTS OUTTER SHADOWS
@mixin resOutter--shadow {
    // box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 90%);
    box-shadow: 0 5px 10px darken($color: $alt--color, $amount: 10%);
}
@mixin vignetteOutter--shadow {
    // box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 90%);
    box-shadow: 2px 2px 10px lighten($color: $alt--color-dark, $amount: 20%);
}


//  RESTAURANTS CELL BORDERS
@mixin res--border-radius-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
@mixin res--border-radius-bottom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

//  MENUS MARGINS
@mixin menus--top-border {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: 205px;
}

// DISPLAY FLEX COLUMN
@mixin flex--column-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $width--mobile;
    height: auto;
}
@mixin flex--column-tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: $width--tablet;
    height: 800px;
    left: 100px;
}
@mixin flex--column-desktop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: $width--desktop;
    height: 800px;
    left: 100px;
}
@mixin flex--column-desktop-hr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: $width--desktop;
    height: 700px;
    left: 100px;
}


//  MENUS HEADER IMAGE
@mixin menus--header-img {
    width: $width--mobile;
    height: $width--mobile;
}

// MENUS HEADING HEART
@mixin menus--heading-heart {
    font-size: 1.5rem;
    font-weight: $font--basic;
    position: absolute;
    top: 15px;
    right: -120px;
}

@mixin menus--heading-heart-adj {
    font-size: 1.5rem;
    font-weight: $font--basic;
    position: absolute;
    top: -180px;
    right: -100px;
}


// MENUS H3 UNDERBAR
@mixin menus--sub-bar {
    content: "";
    display: block;
    margin-top: 7px;
    width: 13%;
    border-bottom: 3px solid $tertiary--color;
}

// MIXIN CTA BTN
@mixin cta--btn {
    font-family: $body--font;
    font-weight: $font--bold;
    font-size: $font--xsmall;
    letter-spacing: $letter--spacing;
    color: $alt--color;
    @include main-gradient;
    @include outter--shadow;
    padding: $padding--mid;
    border: 0;
    border-radius: $radius--rounded;
    cursor: pointer;
}
// MIXIN CTA  RES PAGE
@mixin res--cta--btn {
    font-family: $body--font;
    font-weight: $font--bold;
    font-size: $font--xsmall;
    letter-spacing: $letter--spacing;
    color: $alt--color;
    @include main-gradient;
    @include outter--shadow;
    padding: $padding--mid;
    padding: 15px 50px;
    margin-bottom: 70px;
    border: 0;
    border-radius: $radius--rounded;
    cursor: pointer;
}

// MIXIN CHECKED
@mixin checked {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $tertiary--color;
    top: -15px;
    right: 55px;
    // width: 70px;
    height: 71px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateX(70px);
    overflow: hidden;
    opacity: 0;
    transform-origin: right;

    > i {
        font-size: 1.5rem;
        color: #FFFFFF;
        transform-origin: center;
        transform: rotate(0);
        // transition: .5s ease;
    }
}

// FOOTER PADDINGS & MARGINS
$footer--padding-20: 20px;
$footer--padding-30: 30px;
$footer--left-space: 10px;

@mixin footer--padding {
    padding-top: $footer--padding-20;
    padding-left: $footer--padding-30;
    padding-bottom: $footer--padding-20;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $body--font, sans-serif;
    // width: 100vw;
    // height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
 }

 h1 {
     font-weight: $font--extra-Bold;
     font-size: $font--medium;
 }
 h2 {
     font-weight: $font--basic;
     font-size: $font--small;
 }

 a {
     text-decoration: none;
     color: $alt--color-dark;
 }

 li {
     list-style: none;
 }

 .loading__anim {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #FFF;
    position: fixed;
    z-index: 1001;

    > p {
        font-weight: $font--basic;
        font-size: $font--medium;
        position: absolute;  
        transform: translateX(50%);
        transform: translateY(50%);
        color: #888;
    }
}
.loading__anim p {
    font-family: $body--font, sans-serif;
    animation: loadingAnim 3s ease forwards;
}
.loading__anim {
    animation: siteVis 1s ease 3.5s forwards;
}

