@use 'config' as *;

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $width--mobile;
    height: auto;

    &__logo--text {
        font-family: $logo_title-font, cursive;
        font-size: 2rem;
    }

    &__logo--pic {
        width: 150px;
        margin-top: 9px;
    }

    &__location{
        display: flex;
        margin-top: 5px;
        width: $width--mobile;

        > input {
            background-color: darken($color: $alt--color, $amount: 8%);
            border: 0;
            @include inner--shadow;
            width: 100%;
            height: 50px;
            padding-left: 130px;
            justify-content: center;
            font-family: $body--font;
            font-size: 1rem;
            font-weight: 500;
        }

        > i {
            position: absolute;
            left: 100px;
            top: 60px;
            font-size: 1rem;
            z-index: 999;
        }

    }
    &__explore {
        width: 100%;
        height: 287px;
        padding-top: $padding--basic;
        background-color: darken($color: $alt--color, $amount: 3%);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &--heading {
            margin-top: $margin--basic;
        }
        &--cta {
            margin-top: $margin--basic;
            // @include outter--shadow;
        }
        &--btn {
            @include cta--btn;
            box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 25%);
            transition: 2s ease-in;

            &:hover {
                box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 50%);
                opacity: .8;
            }
        }
    }
}