@use 'config' as *;

.header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $width--mobile;
    height: auto;

    &__back--btn {
        top: 15px;
        left: 30px;
        position: absolute;
    }

    &__logo--pic {
        width: 150px;
        margin-top: 9px;
        margin-bottom: 6px;
    }
}