@use 'config' as *;
@use '../animations' as *;

@media screen and (max-width: 767px){
    .menus {
        @include flex--column-mobile;
        background-image: url('../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
        background-size: contain;
        background-repeat: no-repeat;    
    
        &__content{
            @include flex--column-mobile;
            @include menus--top-border;
            background-color: darken($color: $alt--color, $amount: 3%);
        }
    
        &__heading {
            position: relative;
            padding-top: $padding--basic - 10;
            margin: $margin--basic 0 $margin--basic $margin--neg + 60;
    
            &--title {
                font-family: $logo_title-font;
                font-size: 1.5rem;
    
                &.adj {
                    margin-left: 50px;
                }
            }
    
            &--heart, &--heart-2 {
                @include menus--heading-heart-adj;
            }
            &--heart svg {
                @include heart--position-svg;
                opacity: 1;
            }
    
            &--heart-2 svg {
                @include heartFilled--position-svg;
                opacity: 0;
                transition: opacity .2s ease;
    
                &:hover {
                    opacity: 1;
                }
                
            }
        }
    
        &__cells {
            opacity: 0;
            margin-bottom: 20px;
            animation: apparition 0.6s ease forwards;
        }
        &__cells--heading {
            text-transform: uppercase;
            font-weight: $font--basic;
            font-size: $font--small;
            padding-bottom: 7px;
            margin-bottom: 10px;
    
            &::after {
                @include menus--sub-bar;
            }
        }
    
        &__cell {
            position: relative;
            width: $cell--width;
            padding: $padding--cell - 5;
            background-color: $alt--color;
            border-radius: $radius--squared;
            margin-bottom: $cellMargin--bottom;
            cursor: pointer;
            @include cellOutter--shadow;
            
            &--title {
                display: block;
                padding: 0;
                position: relative;
                margin-left: $cellTitle--left - 15;
                transition:  .5s ease;
                
                > i {
                    color: darken($color: $alt--color, $amount: 50%);
                    font-size: $icon--size;
                    &.fa-store {
                        color: $primary--color;
                    }
                }
    
                > p {
                    font-weight: $font--extra-Bold;
                    margin-left: $cellTitle--left - 55;
                    margin-top: $cellTitle--top + 20;
                }
    
                > p:first-of-type {
                    width: 250px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: all .3s ease;;
                }
    
                > h4 {
                    font-size: $font--xxsmall;
                    font-weight: $font--basic;
                    margin-left: $cellTitle--left - 55;
                    margin-top: $cellTitle--top + 25;
                    width: 260px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: all .3s ease;;
                } 
            
                &:hover {
                    & > .menus__cell--checked i {
                        animation: checkedAnim .5s ease 1 forwards normal;
                        opacity: 1;
                    }
                }
            }
            
            &--price {
                position: absolute;
                top: 0;
                right: 15px;
                transition: all .3s ease;
            }
            &--checked {
                @include checked;
                z-index: 2;
            }
            &:hover > .menus__cell--title > .menus__cell--checked i {
                animation: checkedAnim .3s ease 1 forwards normal;
            }
            &:hover > .menus__cell--title > .menus__cell--checked {
                animation: checkedApparition .3s ease 1 forwards;
            }
            &:hover > .menus__cell--title > .menus__cell--price {
                transform: translateX(-45px);
            }
            &:hover > .menus__cell--title > p:first-of-type {
                width: 200px; 
            }
            &:hover > .menus__cell--title > h4 {
                width: 220px;
            }
    
            &::before{
                content:'';
                position: absolute;
                width: 0;
                height: 74px;
                top: 0;
                right: 0;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background: $tertiary--color;
                z-index: 2;
                opacity: 0;
                transform-origin: right;
                transition: all .3s ease;
            }
            &:hover::before {
                width: 70px;
                opacity: 1;
            }
            
            
        }
    
        &__order--btn {
            animation: apparition 3s ease-in 1 normal forwards;
            @include res--cta--btn;
            box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 25%);
            transition: opacity box-shadow 1s ease-in;
    
            &:hover {
                box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 50%);
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .header {
        display: flex;
        justify-content: center;
        width: $width--tablet;

        &__back--btn {
            left: 270px;
        }
    }
    .menus {
        @include flex--column-mobile;
        background-image: url('../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
        background-size: contain;
        background-repeat: no-repeat;    
        width: $width--tablet;
    
        &__content{
            @include flex--column-tablet;
            @include menus--top-border;
            background-color: darken($color: $alt--color, $amount: 3%);
        }
    
        &__heading {
            position: absolute;
            padding-top: $padding--basic - 10;
            margin: $margin--basic 0 $margin--basic $margin--neg + 60;
            top: 250px;
            left: 36%;
    
            &--title {
                font-family: $logo_title-font;
                font-size: 1.5rem;
    
                &.adj {
                    margin-left: 50px;
                }
            }
    
            &--heart, &--heart-2 {
                @include menus--heading-heart-adj;
            }
            &--heart svg {
                @include heart--position-svg;
                opacity: 1;
            }
    
            &--heart-2 svg {
                @include heartFilled--position-svg;
                opacity: 0;
                transition: opacity .2s ease;
    
                &:hover {
                    opacity: 1;
                }
                
            }
        }
    
        &__cells {
            opacity: 0;
            margin-bottom: 20px;
            animation: apparition 0.6s ease forwards;
        }

        &__cell {
            position: relative;
            width: $cell--width;
            padding: $padding--cell - 5;
            background-color: $alt--color;
            border-radius: $radius--squared;
            margin-bottom: $cellMargin--bottom;
            cursor: pointer;
            @include cellOutter--shadow;
            
            &--title {
                display: block;
                padding: 0;
                position: relative;
                margin-left: $cellTitle--left - 15;
                transition:  .5s ease;
                
                > i {
                    color: darken($color: $alt--color, $amount: 50%);
                    font-size: $icon--size;
                    &.fa-store {
                        color: $primary--color;
                    }
                }
    
                > p {
                    font-weight: $font--extra-Bold;
                    margin-left: $cellTitle--left - 55;
                    margin-top: $cellTitle--top + 20;
                }
    
                > p:first-of-type {
                    width: 250px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: all .3s ease;;
                }
    
                > h4 {
                    font-size: $font--xxsmall;
                    font-weight: $font--basic;
                    margin-left: $cellTitle--left - 55;
                    margin-top: $cellTitle--top + 25;
                    width: 260px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: all .3s ease;;
                } 
            
                &:hover {
                    & > .menus__cell--checked i {
                        animation: checkedAnim .5s ease 1 forwards normal;
                        opacity: 1;
                    }
                }
            }
            
            &--price {
                position: absolute;
                top: 0;
                right: 15px;
                transition: all .3s ease;
            }
            &--checked {
                @include checked;
                z-index: 2;
            }
            &:hover > .menus__cell--title > .menus__cell--checked i {
                animation: checkedAnim .3s ease 1 forwards normal;
            }
            &:hover > .menus__cell--title > .menus__cell--checked {
                animation: checkedApparition .3s ease 1 forwards;
            }
            &:hover > .menus__cell--title > .menus__cell--price {
                transform: translateX(-45px);
            }
            &:hover > .menus__cell--title > p:first-of-type {
                width: 200px; 
            }
            &:hover > .menus__cell--title > h4 {
                width: 220px;
            }
    
            &::before{
                content:'';
                position: absolute;
                width: 0;
                height: 74px;
                top: 0;
                right: 0;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background: $tertiary--color;
                z-index: 2;
                opacity: 0;
                transform-origin: right;
                transition: all .3s ease;
            }
            &:hover::before {
                width: 70px;
                opacity: 1;
            }
        }

        &__cells.entry {
            margin-left: 5%;
            transform: translateY(90px);
            left: -250px;
        }
        &__cells.main--dish {
            margin-left: 5%;
            transform: translateY(90px);
            left: 250px;
        }
        &__cells.desert {
            margin-left: 5%;
            transform: translateY(30px);
            left: -250px;
        }
        &__cells--heading {
            text-transform: uppercase;
            font-weight: $font--basic;
            font-size: $font--small;
            height: fit-content;
            padding-bottom: 7px;
            margin-bottom: 10px;
            
            &::after {
                @include menus--sub-bar;
            }
        }
    
        
    
        &__order--btn {
            animation: apparition 3s ease-in 1 normal forwards;
            @include res--cta--btn;
            box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 25%);
            transition: opacity box-shadow 1s ease-in;
            position: absolute;
            left: 450px;
            top: 760px;
    
            &:hover {
                box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 50%);
            }
        }
    }
    #footer {
        position: absolute;
        top: 1050px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1077px){
    .header {
        display: flex;
        justify-content: center;
        min-width: $width--desktop;

        &__back--btn {
            left: 420px;
        }
    }
    .menus {
        @include flex--column-mobile;
        background-image: url('../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
        background-size: contain;
        background-repeat: no-repeat;    
        min-width: $width--desktop;
    
        &__content{
            @include flex--column-desktop;
            @include menus--top-border;
            background-color: darken($color: $alt--color, $amount: 3%);
        }
    
        &__heading {
            position: absolute;
            padding-top: $padding--basic - 10;
            margin: $margin--basic 0 $margin--basic $margin--neg + 60;
            top: 250px;
            left: 47%;
    
            &--title {
                font-family: $logo_title-font;
                font-size: 1.5rem;
    
                &.adj {
                    margin-left: 50px;
                }
            }
    
            &--heart, &--heart-2 {
                @include menus--heading-heart-adj;
            }
            &--heart svg {
                @include heart--position-svg;
                opacity: 1;
            }
    
            &--heart-2 svg {
                @include heartFilled--position-svg;
                opacity: 0;
                transition: opacity .2s ease;
    
                &:hover {
                    opacity: 1;
                }
                
            }
        }
    
        &__cells {
            opacity: 0;
            margin-bottom: 20px;
            animation: apparition 0.6s ease forwards;
        }

        &__cell {
            position: relative;
            width: $cell--width;
            padding: $padding--cell - 5;
            background-color: $alt--color;
            border-radius: $radius--squared;
            margin-bottom: $cellMargin--bottom;
            cursor: pointer;
            @include cellOutter--shadow;
            
            &--title {
                display: block;
                padding: 0;
                position: relative;
                margin-left: $cellTitle--left - 15;
                transition:  .5s ease;
                
                > i {
                    color: darken($color: $alt--color, $amount: 50%);
                    font-size: $icon--size;
                    &.fa-store {
                        color: $primary--color;
                    }
                }
    
                > p {
                    font-weight: $font--extra-Bold;
                    margin-left: $cellTitle--left - 55;
                    margin-top: $cellTitle--top + 20;
                }
    
                > p:first-of-type {
                    width: 250px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: all .3s ease;;
                }
    
                > h4 {
                    font-size: $font--xxsmall;
                    font-weight: $font--basic;
                    margin-left: $cellTitle--left - 55;
                    margin-top: $cellTitle--top + 25;
                    width: 260px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: all .3s ease;;
                } 
            
                &:hover {
                    & > .menus__cell--checked i {
                        animation: checkedAnim .5s ease 1 forwards normal;
                        opacity: 1;
                    }
                }
            }
            
            &--price {
                position: absolute;
                top: 0;
                right: 15px;
                transition: all .3s ease;
            }
            &--checked {
                @include checked;
                z-index: 2;
            }
            &:hover > .menus__cell--title > .menus__cell--checked i {
                animation: checkedAnim .3s ease 1 forwards normal;
            }
            &:hover > .menus__cell--title > .menus__cell--checked {
                animation: checkedApparition .3s ease 1 forwards;
            }
            &:hover > .menus__cell--title > .menus__cell--price {
                transform: translateX(-45px);
            }
            &:hover > .menus__cell--title > p:first-of-type {
                width: 200px; 
            }
            &:hover > .menus__cell--title > h4 {
                width: 220px;
            }
    
            &::before{
                content:'';
                position: absolute;
                width: 0;
                height: 74px;
                top: 0;
                right: 0;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background: $tertiary--color;
                z-index: 2;
                opacity: 0;
                transform-origin: right;
                transition: all .3s ease;
            }
            &:hover::before {
                width: 70px;
                opacity: 1;
            }
        }

        &__cells.entry {
            margin-left: 5%;
            transform: translateY(90px);
            left: -250px;
        }
        &__cells.main--dish {
            margin-left: 5%;
            transform: translateY(90px);
            left: 250px;
        }
        &__cells.desert {
            margin-left: 5%;
            transform: translateY(30px);
            left: -250px;
        }

        &__cells--heading {
            text-transform: uppercase;
            font-weight: $font--basic;
            font-size: $font--small;
            height: fit-content;
            padding-bottom: 7px;
            margin-bottom: 10px;
            
            &::after {
                @include menus--sub-bar;
            }
        }
    
        
    
        &__order--btn {
            animation: apparition 3s ease-in 1 normal forwards;
            @include res--cta--btn;
            box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 25%);
            transition: opacity box-shadow 1s ease-in;
            position: absolute;
            left: 450px;
            top: 760px;
    
            &:hover {
                box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 50%);
            }
        }
    }
    #footer {
        position: absolute;
        top: 1050px;
    }
}
@media screen and (min-width: 1078px) and (max-width: 1143px){
    .header {
        display: flex;
        justify-content: center;
        min-width: $width--desktop;

        &__back--btn {
            left: 430px;
        }
    }
    .menus {
        @include flex--column-mobile;
        background-image: url('../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
        background-size: contain;
        background-repeat: no-repeat; 
        min-width: $width--desktop;
    
        &__content {
            @include flex--column-desktop;
            @include menus--top-border;
            background-color: darken($color: $alt--color, $amount: 3%);
        }
    
        &__heading {
            position: absolute;
            padding-top: $padding--basic - 10;
            margin: $margin--basic 0 $margin--basic $margin--neg + 60;
            top: 250px;
            left: 47%;
    
            &--title {
                font-family: $logo_title-font;
                font-size: 1.5rem;
    
                &.adj {
                    margin-left: 50px;
                }
            }
    
            &--heart, &--heart-2 {
                @include menus--heading-heart-adj;
            }
            &--heart svg {
                @include heart--position-svg;
                opacity: 1;
            }
    
            &--heart-2 svg {
                @include heartFilled--position-svg;
                opacity: 0;
                transition: opacity .2s ease;
    
                &:hover {
                    opacity: 1;
                }
                
            }
        }
    
        &__cells {
            opacity: 0;
            margin-bottom: 20px;
            animation: apparition 0.6s ease forwards;
        }

        &__cell {
            position: relative;
            width: $cell--width;
            padding: $padding--cell - 5;
            background-color: $alt--color;
            border-radius: $radius--squared;
            margin-bottom: $cellMargin--bottom;
            cursor: pointer;
            @include cellOutter--shadow;
            
            &--title {
                display: block;
                padding: 0;
                position: relative;
                margin-left: $cellTitle--left - 15;
                transition:  .5s ease;
                
                > i {
                    color: darken($color: $alt--color, $amount: 50%);
                    font-size: $icon--size;
                    &.fa-store {
                        color: $primary--color;
                    }
                }
    
                > p {
                    font-weight: $font--extra-Bold;
                    margin-left: $cellTitle--left - 55;
                    margin-top: $cellTitle--top + 20;
                }
    
                > p:first-of-type {
                    width: 250px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: all .3s ease;;
                }
    
                > h4 {
                    font-size: $font--xxsmall;
                    font-weight: $font--basic;
                    margin-left: $cellTitle--left - 55;
                    margin-top: $cellTitle--top + 25;
                    width: 260px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: all .3s ease;;
                } 
            
                &:hover {
                    & > .menus__cell--checked i {
                        animation: checkedAnim .5s ease 1 forwards normal;
                        opacity: 1;
                    }
                }
            }
            
            &--price {
                position: absolute;
                top: 0;
                right: 15px;
                transition: all .3s ease;
            }
            &--checked {
                @include checked;
                z-index: 2;
            }
            &:hover > .menus__cell--title > .menus__cell--checked i {
                animation: checkedAnim .3s ease 1 forwards normal;
            }
            &:hover > .menus__cell--title > .menus__cell--checked {
                animation: checkedApparition .3s ease 1 forwards;
            }
            &:hover > .menus__cell--title > .menus__cell--price {
                transform: translateX(-45px);
            }
            &:hover > .menus__cell--title > p:first-of-type {
                width: 200px; 
            }
            &:hover > .menus__cell--title > h4 {
                width: 220px;
            }
    
            &::before{
                content:'';
                position: absolute;
                width: 0;
                height: 74px;
                top: 0;
                right: 0;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background: $tertiary--color;
                z-index: 2;
                opacity: 0;
                transform-origin: right;
                transition: all .3s ease;
            }
            &:hover::before {
                width: 70px;
                opacity: 1;
            }
        }

        &__cells.entry {
            margin-left: 7%;
            transform: translateY(100px);
            left: -250px;
        }
        &__cells.main--dish {
            margin-left: 7%;
            transform: translateY(100px);
            left: 250px;
        }
        &__cells.desert {
            margin-left: 7%;
            transform: translateY(40px);
            left: -250px;
        }

        &__cells--heading {
            text-transform: uppercase;
            font-weight: $font--basic;
            font-size: $font--small;
            height: fit-content;
            padding-bottom: 7px;
            margin-bottom: 10px;
            
            &::after {
                @include menus--sub-bar;
            }
        }
    
        
    
        &__order--btn {
            animation: apparition 3s ease-in 1 normal forwards;
            @include res--cta--btn;
            box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 25%);
            transition: opacity box-shadow 1s ease-in;
            position: absolute;
            left: 520px;
            top: 760px;
    
            &:hover {
                box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 50%);
            }
        }
    }
    #footer {
        position: absolute;
        top: 1050px;
    }
}
@media screen and (min-width: 1144px) and (max-width: 1233px){
    .header {
        display: flex;
        justify-content: center;
        min-width: $width--desktop;

        &__back--btn {
            left: 540px;
        }
    }
    .menus {
        @include flex--column-mobile;
        background-image: url('../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
        background-size: contain;
        background-repeat: no-repeat; 
        min-width: $width--desktop;
    
        &__content{
            @include flex--column-desktop;
            @include menus--top-border;
            background-color: darken($color: $alt--color, $amount: 3%);
        }
    
        &__heading {
            position: absolute;
            padding-top: $padding--basic - 10;
            margin: $margin--basic 0 $margin--basic $margin--neg + 60;
            top: 250px;
            left: 47%;
    
            &--title {
                font-family: $logo_title-font;
                font-size: 1.5rem;
    
                &.adj {
                    margin-left: 50px;
                }
            }
    
            &--heart, &--heart-2 {
                @include menus--heading-heart-adj;
            }
            &--heart svg {
                @include heart--position-svg;
                opacity: 1;
            }
    
            &--heart-2 svg {
                @include heartFilled--position-svg;
                opacity: 0;
                transition: opacity .2s ease;
    
                &:hover {
                    opacity: 1;
                }
                
            }
        }
    
        &__cells {
            opacity: 0;
            margin-bottom: 20px;
            animation: apparition 0.6s ease forwards;
        }

        &__cell {
            position: relative;
            width: $cell--width;
            padding: $padding--cell - 5;
            background-color: $alt--color;
            border-radius: $radius--squared;
            margin-bottom: $cellMargin--bottom;
            cursor: pointer;
            @include cellOutter--shadow;
            
            &--title {
                display: block;
                padding: 0;
                position: relative;
                margin-left: $cellTitle--left - 15;
                transition:  .5s ease;
                
                > i {
                    color: darken($color: $alt--color, $amount: 50%);
                    font-size: $icon--size;
                    &.fa-store {
                        color: $primary--color;
                    }
                }
    
                > p {
                    font-weight: $font--extra-Bold;
                    margin-left: $cellTitle--left - 55;
                    margin-top: $cellTitle--top + 20;
                }
    
                > p:first-of-type {
                    width: 250px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: all .3s ease;;
                }
    
                > h4 {
                    font-size: $font--xxsmall;
                    font-weight: $font--basic;
                    margin-left: $cellTitle--left - 55;
                    margin-top: $cellTitle--top + 25;
                    width: 260px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: all .3s ease;;
                } 
            
                &:hover {
                    & > .menus__cell--checked i {
                        animation: checkedAnim .5s ease 1 forwards normal;
                        opacity: 1;
                    }
                }
            }
            
            &--price {
                position: absolute;
                top: 0;
                right: 15px;
                transition: all .3s ease;
            }
            &--checked {
                @include checked;
                z-index: 2;
            }
            &:hover > .menus__cell--title > .menus__cell--checked i {
                animation: checkedAnim .3s ease 1 forwards normal;
            }
            &:hover > .menus__cell--title > .menus__cell--checked {
                animation: checkedApparition .3s ease 1 forwards;
            }
            &:hover > .menus__cell--title > .menus__cell--price {
                transform: translateX(-45px);
            }
            &:hover > .menus__cell--title > p:first-of-type {
                width: 200px; 
            }
            &:hover > .menus__cell--title > h4 {
                width: 220px;
            }
    
            &::before{
                content:'';
                position: absolute;
                width: 0;
                height: 74px;
                top: 0;
                right: 0;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background: $tertiary--color;
                z-index: 2;
                opacity: 0;
                transform-origin: right;
                transition: all .3s ease;
            }
            &:hover::before {
                width: 70px;
                opacity: 1;
            }
        }

        &__cells.entry {
            margin-left: 7%;
            transform: translateY(90px);
            left: -250px;
        }
        &__cells.main--dish {
            margin-left: 7%;
            transform: translateY(90px);
            left: 250px;
        }
        &__cells.desert {
            margin-left: 7%;
            transform: translateY(35px);
            left: -250px;
        }

        &__cells--heading {
            text-transform: uppercase;
            font-weight: $font--basic;
            font-size: $font--small;
            height: fit-content;
            padding-bottom: 7px;
            margin-bottom: 10px;
            
            &::after {
                @include menus--sub-bar;
            }
        }
    
        
    
        &__order--btn {
            animation: apparition 3s ease-in 1 normal forwards;
            @include res--cta--btn;
            box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 25%);
            transition: opacity box-shadow 1s ease-in;
            position: absolute;
            left: 580px;
            top: 760px;
    
            &:hover {
                box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 50%);
            }
        }
    }
    #footer {
        position: absolute;
        top: 1050px;
    }
}
@media screen and (min-width: 1234px) and (max-width: 1366px){
    .header {
        display: flex;
        justify-content: center;
        min-width: $width--desktop;

        &__back--btn {
            left: 540px;
        }
    }
    .menus {
        @include flex--column-mobile;
        background-image: url('../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
        background-size: contain;
        background-repeat: no-repeat; 
        min-width: $width--desktop;
    
        &__content{
            @include flex--column-desktop-hr;
            @include menus--top-border;
            background-color: darken($color: $alt--color, $amount: 3%);
        }
    
        &__heading {
            position: absolute;
            padding-top: $padding--basic - 10;
            margin: $margin--basic 0 $margin--basic $margin--neg + 60;
            top: 250px;
            left: 47%;
    
            &--title {
                font-family: $logo_title-font;
                font-size: 1.5rem;
    
                &.adj {
                    margin-left: 50px;
                }
            }
    
            &--heart, &--heart-2 {
                @include menus--heading-heart-adj;
            }
            &--heart svg {
                @include heart--position-svg;
                opacity: 1;
            }
    
            &--heart-2 svg {
                @include heartFilled--position-svg;
                opacity: 0;
                transition: opacity .2s ease;
    
                &:hover {
                    opacity: 1;
                }
                
            }
        }
    
        &__cells {
            opacity: 0;
            margin-bottom: 20px;
            animation: apparition 0.6s ease forwards;
        }

        &__cell {
            position: relative;
            width: $cell--width;
            padding: $padding--cell - 5;
            background-color: $alt--color;
            border-radius: $radius--squared;
            margin-bottom: $cellMargin--bottom;
            cursor: pointer;
            @include cellOutter--shadow;
            
            &--title {
                display: block;
                padding: 0;
                position: relative;
                margin-left: $cellTitle--left - 15;
                transition:  .5s ease;
                
                > i {
                    color: darken($color: $alt--color, $amount: 50%);
                    font-size: $icon--size;
                    &.fa-store {
                        color: $primary--color;
                    }
                }
    
                > p {
                    font-weight: $font--extra-Bold;
                    margin-left: $cellTitle--left - 55;
                    margin-top: $cellTitle--top + 20;
                }
    
                > p:first-of-type {
                    width: 250px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: all .3s ease;;
                }
    
                > h4 {
                    font-size: $font--xxsmall;
                    font-weight: $font--basic;
                    margin-left: $cellTitle--left - 55;
                    margin-top: $cellTitle--top + 25;
                    width: 260px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: all .3s ease;;
                } 
            
                &:hover {
                    & > .menus__cell--checked i {
                        animation: checkedAnim .5s ease 1 forwards normal;
                        opacity: 1;
                    }
                }
            }
            
            &--price {
                position: absolute;
                top: 0;
                right: 15px;
                transition: all .3s ease;
            }
            &--checked {
                @include checked;
                z-index: 2;
            }
            &:hover > .menus__cell--title > .menus__cell--checked i {
                animation: checkedAnim .3s ease 1 forwards normal;
            }
            &:hover > .menus__cell--title > .menus__cell--checked {
                animation: checkedApparition .3s ease 1 forwards;
            }
            &:hover > .menus__cell--title > .menus__cell--price {
                transform: translateX(-45px);
            }
            &:hover > .menus__cell--title > p:first-of-type {
                width: 200px; 
            }
            &:hover > .menus__cell--title > h4 {
                width: 220px;
            }
    
            &::before{
                content:'';
                position: absolute;
                width: 0;
                height: 74px;
                top: 0;
                right: 0;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background: $tertiary--color;
                z-index: 2;
                opacity: 0;
                transform-origin: right;
                transition: all .3s ease;
            }
            &:hover::before {
                width: 70px;
                opacity: 1;
            }
        }

        &__cells.entry {
            margin-left: 7%;
            transform: translateY(-65px);
            left: -250px;
        }
        &__cells.main--dish {
            margin-left: 7%;
            transform: translateY(-65px);
            left: 250px;
        }
        &__cells.desert {
            margin-left: 7%;
            transform: translateY(-65px);
            left: -250px;
        }

        &__cells--heading {
            text-transform: uppercase;
            font-weight: $font--basic;
            font-size: $font--small;
            height: fit-content;
            padding-bottom: 7px;
            margin-bottom: 10px;
            
            &::after {
                @include menus--sub-bar;
            }
        }
    
        
    
        &__order--btn {
            animation: apparition 3s ease-in 1 normal forwards;
            @include res--cta--btn;
            box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 25%);
            transition: opacity box-shadow 1s ease-in;
            position: absolute;
            left: 580px;
            top: 760px;
    
            &:hover {
                box-shadow: -2px 5px 10px darken($color: $alt--color, $amount: 50%);
            }
        }
    }
    #footer {
        position: absolute;
        top: 950px;
    }
}
@for $i from 1 through 4 {
    .menus__cells:nth-child(#{$i}){
        animation-delay: #{$i * 0.6}s;
    }
}