@use 'config' as *;

@media screen and (max-width: 767px){
    .restaurants {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: $res--margin-top;
        width: $width--mobile;
        height: auto;
        background-color: darken($color: $alt--color, $amount: 3%);
    
        &__heading {
            padding-top: $padding--basic + 5;
            margin: $margin--basic 0 $margin--basic $margin--neg - 18;
        }
    
        &__cell {
            // @include resOutter--shadow;
            @include res--border-radius-top;
            @include res--border-radius-bottom;
            margin-bottom: $cellMargin--bottom;
            // @include resOutter--shadow;
            box-shadow: 0 5px 10px darken($color: $alt--color, $amount: 10%);
            transition: 2s ease-in;
            position: relative;
    
            img {
                width: $res--img-width;
                height: $res--img-height;
                background-size: 100% 100%;
                @include res--border-radius-top;
                object-position: left center;
                object-fit: cover;
                z-index: 998;
            }
    
            &--title {
                margin-top: $res--title-margin-top;
                padding-top: $padding--small + 3;
                padding-left: $padding--small;
                padding-bottom: $padding--small - 25;
                background-color: $alt--color;
                height: $res--title-height;
                @include res--border-radius-bottom;
                // @include resOutter--shadow;
    
                > p {
                    font-weight: $font--extra-Bold;
                    margin-bottom: $res--title-margin-bot;
                }
    
                > h2 {
                    margin-bottom: $res--title-margin-bot;
                }
            }
    
            // 
            &--heart svg {
                @include heart--position-svg;
                opacity: 1;
            }
    
            &--heart-2 svg {
                @include heartFilled--position-svg;
                opacity: 0;
                transition: opacity .2s ease;
    
                &:hover {
                    opacity: 1;
                }
                
            }
    
            &.new::before {
                content: "Nouveau";
                display: grid;
                place-content: center;
                width: $vignette--width;
                height: $vignette--height;
                border-radius: $vignette--new-radius;
                background-color: $vignette--new-bgc;
                @include vignetteOutter--shadow;
                @include vignette--position;
                font-size: $font--xsmall;
                font-weight: $font--bold;
                color: darken($color: $vignette--new-bgc, $amount: 50%);
                position: absolute;
            }
            &.last {
                margin-bottom: $res--lastCell-margin-bot;
            }
    
            &:hover {
                box-shadow: 0 5px 10px darken($color: $alt--color, $amount: 30%);
            }
        }
    }
}

@media screen and(min-width: 768px) and (max-width: 1023px){
    .restaurants {
        display: flex;
        flex-wrap: wrap;
        // flex-direction: column;
        // display: grid;
        // grid-template-columns: repeat(2, 2fr);
        position: absolute;
        top: 630px;
        align-items: center;
        margin-top: $res--margin-top;
        width: $width--tablet;
        height: auto;
        background-color: darken($color: $alt--color, $amount: 3%);
    
        &__heading {
            position: relative;
            // padding-top: $padding--basic + 5;
            top: -110px;
            left: 35px;
            // margin: $margin--basic 0 $margin--basic $margin--neg - 18;
        }
    
        &__cell {
            // @include resOutter--shadow;
            @include res--border-radius-top;
            @include res--border-radius-bottom;
            margin-bottom: $cellMargin--bottom;
            // @include resOutter--shadow;
            box-shadow: 0 5px 10px darken($color: $alt--color, $amount: 10%);
            transition: 2s ease-in;
            position: relative;
    
            img {
                width: $res--img-width;
                height: $res--img-height;
                background-size: 100% 100%;
                @include res--border-radius-top;
                object-position: left center;
                object-fit: cover;
                z-index: 998;
            }
    
            &--title {
                margin-top: $res--title-margin-top;
                padding-top: $padding--small + 3;
                padding-left: $padding--small;
                padding-bottom: $padding--small - 25;
                background-color: $alt--color;
                height: $res--title-height;
                @include res--border-radius-bottom;
                // @include resOutter--shadow;
    
                > p {
                    font-weight: $font--extra-Bold;
                    margin-bottom: $res--title-margin-bot;
                }
    
                > h2 {
                    margin-bottom: $res--title-margin-bot;
                }
            }
    
            // 
            &--heart svg {
                @include heart--position-svg;
                opacity: 1;
            }
    
            &--heart-2 svg {
                @include heartFilled--position-svg;
                opacity: 0;
                transition: opacity .2s ease;
    
                &:hover {
                    opacity: 1;
                }
                
            }
    
            &.new::before {
                content: "Nouveau";
                display: grid;
                place-content: center;
                width: $vignette--width;
                height: $vignette--height;
                border-radius: $vignette--new-radius;
                background-color: $vignette--new-bgc;
                @include vignetteOutter--shadow;
                @include vignette--position;
                font-size: $font--xsmall;
                font-weight: $font--bold;
                color: darken($color: $vignette--new-bgc, $amount: 50%);
                position: absolute;
            }
            &.last {
                margin-bottom: $res--lastCell-margin-bot;
            }
    
            &:hover {
                box-shadow: 0 5px 10px darken($color: $alt--color, $amount: 30%);
            }
        }
        &__cell:nth-child(2){
            top: 50px;
            left: -68px;
        }
        &__cell:nth-child(3){
            top: 50px;
            left: -20px;
        }
        &__cell:nth-child(4){
            top: 30px;
            left: 35px;
        }
        &__cell:nth-child(5){
            top: 50px;
            left: 85px;
        }
    }
}

@media screen and(min-width: 1024px){
    .restaurants {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 530px;
        align-items: center;
        margin-top: $res--margin-top;
        width: $width--desktop;
        height: auto;
        background-color: darken($color: $alt--color, $amount: 3%);
    
        &__heading {
            position: relative;
            top: -110px;
            // left: 35px;
            left: 45%;
        }
    
        &__cell {
            // @include resOutter--shadow;
            @include res--border-radius-top;
            @include res--border-radius-bottom;
            margin-bottom: $cellMargin--bottom;
            // @include resOutter--shadow;
            box-shadow: 0 5px 10px darken($color: $alt--color, $amount: 10%);
            transition: 2s ease-in;
            position: relative;
    
            img {
                width: $res--img-width;
                height: $res--img-height;
                background-size: 100% 100%;
                @include res--border-radius-top;
                object-position: left center;
                object-fit: cover;
                z-index: 998;
            }
    
            &--title {
                margin-top: $res--title-margin-top;
                padding-top: $padding--small + 3;
                padding-left: $padding--small;
                padding-bottom: $padding--small - 25;
                background-color: $alt--color;
                height: $res--title-height;
                @include res--border-radius-bottom;
                // @include resOutter--shadow;
    
                > p {
                    font-weight: $font--extra-Bold;
                    margin-bottom: $res--title-margin-bot;
                }
    
                > h2 {
                    margin-bottom: $res--title-margin-bot;
                }
            }
    
            // 
            &--heart svg {
                @include heart--position-svg;
                opacity: 1;
            }
    
            &--heart-2 svg {
                @include heartFilled--position-svg;
                opacity: 0;
                transition: opacity .2s ease;
    
                &:hover {
                    opacity: 1;
                }
                
            }
    
            &.new::before {
                content: "Nouveau";
                display: grid;
                place-content: center;
                width: $vignette--width;
                height: $vignette--height;
                border-radius: $vignette--new-radius;
                background-color: $vignette--new-bgc;
                @include vignetteOutter--shadow;
                @include vignette--position;
                font-size: $font--xsmall;
                font-weight: $font--bold;
                color: darken($color: $vignette--new-bgc, $amount: 50%);
                position: absolute;
            }
            &.last {
                margin-bottom: $res--lastCell-margin-bot;
            }
    
            &:hover {
                box-shadow: 0 5px 10px darken($color: $alt--color, $amount: 30%);
            }
        }
        &__cell:nth-child(2){
            top: 50px;
            // left: -68px;
            left: 2%;
        }
        &__cell:nth-child(3){
            top: 50px;
            // left: -20px;
            left: 6%;
        }
        &__cell:nth-child(4){
            top: 30px;
            // left: 35px;
            left: 12%;
        }
        &__cell:nth-child(5){
            top: 50px;
            // left: 410px;
            left: 16%;
        }
    }
}
@media screen and(min-width: 1078px){
    .restaurants {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 530px;
        align-items: center;
        margin-top: $res--margin-top;
        width: $width--desktop;
        height: auto;
        background-color: darken($color: $alt--color, $amount: 3%);
    
        &__heading {
            position: relative;
            top: -110px;
            // left: 35px;
            left: 45%;
        }
    
        &__cell {
            // @include resOutter--shadow;
            @include res--border-radius-top;
            @include res--border-radius-bottom;
            margin-bottom: $cellMargin--bottom;
            // @include resOutter--shadow;
            box-shadow: 0 5px 10px darken($color: $alt--color, $amount: 10%);
            transition: 2s ease-in;
            position: relative;
    
            img {
                width: $res--img-width;
                height: $res--img-height;
                background-size: 100% 100%;
                @include res--border-radius-top;
                object-position: left center;
                object-fit: cover;
                z-index: 998;
            }
    
            &--title {
                margin-top: $res--title-margin-top;
                padding-top: $padding--small + 3;
                padding-left: $padding--small;
                padding-bottom: $padding--small - 25;
                background-color: $alt--color;
                height: $res--title-height;
                @include res--border-radius-bottom;
                // @include resOutter--shadow;
    
                > p {
                    font-weight: $font--extra-Bold;
                    margin-bottom: $res--title-margin-bot;
                }
    
                > h2 {
                    margin-bottom: $res--title-margin-bot;
                }
            }
    
            // 
            &--heart svg {
                @include heart--position-svg;
                opacity: 1;
            }
    
            &--heart-2 svg {
                @include heartFilled--position-svg;
                opacity: 0;
                transition: opacity .2s ease;
    
                &:hover {
                    opacity: 1;
                }
                
            }
    
            &.new::before {
                content: "Nouveau";
                display: grid;
                place-content: center;
                width: $vignette--width;
                height: $vignette--height;
                border-radius: $vignette--new-radius;
                background-color: $vignette--new-bgc;
                @include vignetteOutter--shadow;
                @include vignette--position;
                font-size: $font--xsmall;
                font-weight: $font--bold;
                color: darken($color: $vignette--new-bgc, $amount: 50%);
                position: absolute;
            }
            &.last {
                margin-bottom: $res--lastCell-margin-bot;
            }
    
            &:hover {
                box-shadow: 0 5px 10px darken($color: $alt--color, $amount: 30%);
            }
        }
        &__cell:nth-child(2){
            top: 50px;
            // left: -68px;
            left: 2%;
        }
        &__cell:nth-child(3){
            top: 50px;
            // left: -20px;
            left: 6%;
        }
        &__cell:nth-child(4){
            top: 50px;
            // left: 35px;
            left: 10%;
        }
        &__cell:nth-child(5){
            top: 50px;
            // left: 410px;
            left: 37.2%;
        }
    }
}